# Diccionarios

- Son colecciones no-secuenciales, no-ordenadas.
- Son asociaciones (mapeos) entre "llaves" (ids) y "valores".

{llave: valor, llave: valor, llave: valor,...}

In [1]:
sexo = {"juana": "F", "david": "M", "ernesto": "M", "andrea": "F"}

In [2]:
type(sexo)

dict

In [3]:
sexo

{'juana': 'F', 'david': 'M', 'ernesto': 'M', 'andrea': 'F'}

In [4]:
sexo2 = {'juana': 0, 'david': 1, 'ernesto': 1, 'andrea': 0}

In [5]:
sexo2

{'juana': 0, 'david': 1, 'ernesto': 1, 'andrea': 0}

In [6]:
sexo["david"]

'M'

OJO: Las llaves son únicas. Si el diccionario se define con una misma llave más de una vez, el computador toma solo el valor de la última instancia.

In [7]:
#Ejemplo
sexo = {"juana": "F", "david": "M", "ernesto": "M", "andrea": "F", "juana": "Esto es un ejemplo; el valor se sobrescribe"}

In [8]:
sexo

{'juana': 'Esto es un ejemplo; el valor se sobrescribe',
 'david': 'M',
 'ernesto': 'M',
 'andrea': 'F'}

In [9]:
sexo = {"juana": "F", "david": "M", "ernesto": "M", "andrea": "F"}

In [10]:
sexo['airasol']

KeyError: 'airasol'

In [11]:
sexo['santiago']

KeyError: 'santiago'

In [12]:
sexo['santiago'] = "M"

In [13]:
sexo

{'juana': 'F', 'david': 'M', 'ernesto': 'M', 'andrea': 'F', 'santiago': 'M'}

In [14]:
sexo['ernesto'] = 'F'

In [15]:
sexo

{'juana': 'F', 'david': 'M', 'ernesto': 'F', 'andrea': 'F', 'santiago': 'M'}

Los diccionarios son mutables/editables.

In [16]:
type(sexo)

dict

In [17]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [18]:
sexo.keys()

dict_keys(['juana', 'david', 'ernesto', 'andrea', 'santiago'])

In [19]:
type(sexo.keys())

dict_keys

In [20]:
list(sexo.keys())

['juana', 'david', 'ernesto', 'andrea', 'santiago']

In [21]:
sexo.values()

dict_values(['F', 'M', 'F', 'F', 'M'])

In [22]:
sexo.items()

dict_items([('juana', 'F'), ('david', 'M'), ('ernesto', 'F'), ('andrea', 'F'), ('santiago', 'M')])

In [23]:
list(sexo.items())

[('juana', 'F'),
 ('david', 'M'),
 ('ernesto', 'F'),
 ('andrea', 'F'),
 ('santiago', 'M')]

In [25]:
print(list(sexo.items()))

[('juana', 'F'), ('david', 'M'), ('ernesto', 'F'), ('andrea', 'F'), ('santiago', 'M')]

In [26]:
del sexo['santiago']

In [27]:
sexo

{'juana': 'F', 'david': 'M', 'ernesto': 'F', 'andrea': 'F'}

In [28]:
'andrea' in sexo

True

In [29]:
'santiago' in sexo

False

In [30]:
for k, v in sexo.items():
    print(k, v)

juana F
david M
ernesto F
andrea F

In [31]:
for i in sexo:
    print(i)

juana
david
ernesto
andrea

In [32]:
sexo

{'juana': 'F', 'david': 'M', 'ernesto': 'F', 'andrea': 'F'}

In [33]:
sexo['ejemplo'] = ['M', 5, 7.0], 'asdf', {'llave', 'valor'}, (1234)

In [34]:
sexo

{'juana': 'F',
 'david': 'M',
 'ernesto': 'F',
 'andrea': 'F',
 'ejemplo': (['M', 5, 7.0], 'asdf', {'llave', 'valor'}, 1234)}

In [37]:
sexo3 = {0:"valor de la primera llave", 1:"valor de la segunda llave"}

In [38]:
sexo3

{0: 'valor de la primera llave', 1: 'valor de la segunda llave'}

In [40]:
sexo3 = {0:"valor de la primera llave", 1:"valor de la segunda llave", 2}

SyntaxError: invalid syntax (<ipython-input-40-52997fc25b35>, line 1)

In [45]:
a = {0, 1, 2}

In [46]:
type(a)

set

Existe una cuarta estructura de datos (conjuntos), pero no la usaremos.

In [47]:
sexo["ejemplo"]

(['M', 5, 7.0], 'asdf', {'llave', 'valor'}, 1234)

In [55]:
sexo

{'juana': 'F',
 'david': 'M',
 'ernesto': 'F',
 'andrea': 'F',
 'ejemplo': (['M', 5, 7.0], 'asdf', {'llave', 'valor'}, 1234)}

In [56]:
sexo['ejemplo']

(['M', 5, 7.0], 'asdf', {'llave', 'valor'}, 1234)

In [57]:
sexo['ejemplo'][0][2]

7.0

In [58]:
nums = [7,3,4,7,1,2,0,7,9,3,8,5,1,8,2,3,0,1]

In [59]:
nums

[7, 3, 4, 7, 1, 2, 0, 7, 9, 3, 8, 5, 1, 8, 2, 3, 0, 1]

In [60]:
count = {}
for x in nums:
    if x not in count:
        count[x] = 0
    count[x] = count[x] + 1

In [61]:
count

{7: 3, 3: 3, 4: 1, 1: 3, 2: 2, 0: 2, 9: 1, 8: 2, 5: 1}

El algoritmo "tras bambalinas":

i = 1
x = 7
True
{7: 0}
{7: 1}

i = 2
x = 3
True
{7: 1, 3: 0}
{7: 1, 3: 1}

i = 3
x = 4
True
{7: 1, 3: 1, 4: 0}
{7: 1, 3: 1, 4: 1}

i = 4
x = 7
False
{7: 2, 3: 1, 4: 1}

.
.
.

i = 18
x = 1
False
{7: 3, 3: 3, 4: 1, 1: 3, 2: 2, 0: 2, 9: 1, 8: 2, 5: 1}

In [62]:
len(nums)

18

Esto se hace frecuentemente. Los diccionarios tienen un método que simplifica este tipo de proceso: "get".

In [68]:
sexo

{'juana': 'F',
 'david': 'M',
 'ernesto': 'F',
 'andrea': 'F',
 'ejemplo': (['M', 5, 7.0], 'asdf', {'llave', 'valor'}, 1234)}

In [69]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [70]:
sexo.get('andrea')

'F'

In [71]:
sexo.get('santiago')

In [72]:
print(sexo.get('santiago'))

None

In [73]:
sexo.get('santiago', 'M')

'M'

In [74]:
sexo

{'juana': 'F',
 'david': 'M',
 'ernesto': 'F',
 'andrea': 'F',
 'ejemplo': (['M', 5, 7.0], 'asdf', {'llave', 'valor'}, 1234)}

In [75]:
sexo['santiago'] = sexo.get('santiago', 'M')

In [76]:
sexo

{'juana': 'F',
 'david': 'M',
 'ernesto': 'F',
 'andrea': 'F',
 'ejemplo': (['M', 5, 7.0], 'asdf', {'llave', 'valor'}, 1234),
 'santiago': 'M'}

Volvamos a nuestro loop:

count = {}
for x in nums:
    if x not in count:
        count[x] = 0
    count[x] = count[x] + 1

In [80]:
nums

[7, 3, 4, 7, 1, 2, 0, 7, 9, 3, 8, 5, 1, 8, 2, 3, 0, 1]

In [84]:
count = {}

In [85]:
print(count.get(7))

None

In [86]:
count

{}

In [87]:
count.get(7, 0)

0

In [88]:
count

{}

In [89]:
count.get(7, 0) + 1

1

In [90]:
count

{}

In [91]:
count[7] = count.get(7, 0) + 1

In [92]:
count

{7: 1}

In [93]:
count[7] = count.get(7, 0) + 1

In [94]:
count

{7: 2}

In [77]:
count = {}
for x in nums:
    count[x] = count.get(x, 0) + 1

In [78]:
count

{7: 3, 3: 3, 4: 1, 1: 3, 2: 2, 0: 2, 9: 1, 8: 2, 5: 1}

En general, código de la forma:

In [ ]:
if key not in d:
    d[key] = some_default_value
d[key] = some_transformation(d[key])

puede ser escrito como:

In [ ]:
d[key] = some_transformation(d.get(key, some_default_value))

# "Functional programming"

### Funciones anónimas o "lambda functions"

In [95]:
def square(x):
    return x**2

In [96]:
nums

[7, 3, 4, 7, 1, 2, 0, 7, 9, 3, 8, 5, 1, 8, 2, 3, 0, 1]

In [97]:
for num in nums:
    print(square(num))

49
9
16
49
1
4
0
49
81
9
64
25
1
64
4
9
0
1

In [98]:
f = lambda x: x**2
for num in nums:
    print(f(num))

49
9
16
49
1
4
0
49
81
9
64
25
1
64
4
9
0
1

### map( ), filter ( ), reduce ( )

In [2]:
nums = [1,2,3,4,5]

In [100]:
def incr(x):
    return x + 1

In [101]:
map(incr, nums)

In [102]:
list(map(incr, nums))

[2, 3, 4, 5, 6]

In [103]:
list(map(lambda x: x+1, nums))

[2, 3, 4, 5, 6]

In [104]:
list(map(lambda x: x**2, nums))

[1, 4, 9, 16, 25]

In [105]:
def is_odd(x):
    return x % 2 == 1

In [107]:
nums

[1, 2, 3, 4, 5]

In [106]:
list(filter(is_odd, nums))

[1, 3, 5]

In [108]:
list(filter(lambda x: x%2==1, nums))

[1, 3, 5]

In [109]:
list(filter(lambda x: x%2==0, nums))

[2, 4]

In [110]:
g = lambda x,y,z: x*y*z
for num in nums:
    print(g(num,2,3))

6
12
18
24
30

In [111]:
from functools import reduce

In [112]:
def add(x, y):
    return x + y

In [113]:
reduce(add, [1,2,3,4])

10

In [114]:
reduce(lambda x,y: x*y, [1,2,3,4])

24

# "List comprehensions"

In [115]:
list(map(lambda x: x**2, nums))

[1, 4, 9, 16, 25]

In [116]:
nums2 = []
for x in nums:
    nums2.append(x**2)

In [117]:
nums2

[1, 4, 9, 16, 25]

In [4]:
y=[x**2 for x in nums]

[1, 4, 9, 16, 25]

In [120]:
list(map(lambda x: x**2, filter(lambda x: x%2==1, nums)))

[1, 9, 25]

In [121]:
nums3 = []
for x in nums:
    if x % 2 == 1:
        nums3.append(x**2)

In [122]:
nums3

[1, 9, 25]

In [124]:
[x**2 for x in nums if x%2==1]

[1, 9, 25]

In [125]:
d = {x+1:0 for x in range(10)}

In [126]:
d

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0}

-----